<md-dialog aria-label="ゲートモンスター">
  <form ng-cloak>

    <md-dialog-content>
      <div class="md-dialog-content">

        <md-switch ng-model="options.reach" aria-label="リーチを表示">
          リーチを表示
        </md-switch>

        <ul>
          <li ng-repeat="monster in monsters track by $index">
            <span ng-if="monster">
              <span>{{ monster.name }}</span>
              <span ng-if="options.reach">({{ monster.reach }})</span>
            </span>
            <span ng-if="!monster">不明</span>
            <span ng-if="!$last">&nbsp;</span>
          </li>
        </ul>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="close()" md-autofocus>
        閉じる
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
