<md-dialog aria-label="ゲートモンスター">
  <form ng-cloak>

    <md-dialog-content>
      <div class="md-dialog-content">

        <md-switch
          ng-model="options.reach"
          ng-change="generateList()"
          aria-label="リーチを表示">
          リーチを表示
        </md-switch>

        <md-switch
          ng-model="options.range"
          ng-change="generateList()"
          aria-label="範囲を表示">
          範囲を表示
        </md-switch>

        <md-input-container class="md-block">
          <textarea
            md-autofocus
            id="generatedList"
            ng-model="monsters"
            aria-label="選択したモンスターの一覧"></textarea>
        </md-input-container>

        <md-button
          class="md-primary md-raised clipboard md-block"
          data-clipboard-action="copy"
          data-clipboard-target="#generatedList"
        >選択 / コピー</md-button>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="close()">
        閉じる
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
