body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  font-size: 14px;
}

/* List Default */

ul {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Angular Material */

.md-secondary-container > div {
  margin-left: 15px;
}

md-option {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Monster Select List */

.monster {
  padding: 10px 0;
}

.photo {
  overflow: hidden;
  display: inline-block;
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid #ccc;
  width: 45px;
  height: 45px;
  vertical-align: middle;
}

.photo img {
  max-width: 100%;
}

.photo.type-water {
  border-color: #0099FF;
}

.name {
  vertical-align: middle;
}

.stat.combo {
  width: 30px;
}

.stat.reach {
  width: 40px;
}

.stat.range {
  width: 40px;
}
