body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  font-size: 14px;
}

/* List Default */

ul {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Angular Material */

.md-secondary-container > div {
  margin-left: 15px;
}

md-select.md-custom-theme {
  margin: 15px 0 20px;
}

md-option {
  padding-top: 5px;
  padding-bottom: 5px;
}

md-option .md-text {
  width: 100%;
}

/* Monster Select List */

.monster {
  padding: 5px 0;
}

.photo {
  overflow: hidden;
  display: inline-block;
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid #ccc;
  width: 45px;
  height: 45px;
  vertical-align: middle;
}

.photo img {
  max-width: 100%;
}

.photo.type-fire {
  border-color: #ff2500;
}

.photo.type-water {
  border-color: #0099FF;
}

.photo.type-wind {
  border-color: #4b8f05;
}

.photo.type-light {
  border-color: #cdbc0b;
}

.photo.type-dark {
  border-color: #6108c7;
}

.name {
  vertical-align: middle;
}

.stats-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin: auto 0 auto auto
}

.stats-container > .stat {
  margin-left: 5px;
}

.stats-container > .stat:first-child {
  margin-left: 0;
}

.stat.combo {
  width: 30px;
}

.stat.reach {
  width: 40px;
}

.stat.range {
  width: 40px;
}
